body {
  background: #f9f9f9;
  overflow-x: hidden;
}
:root {
  --navbar-color: #150050;
  --primary-color: #fbf3e4;
  --black: #333;
  --white: #fff;
  --secondary-color: #fca738;
  --headerbanner-color: #6f38c5;
  --primary-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --primary-button: #3f0071;
}
html {
  font-size: 16px;
}
/* * -------------- header ---------------- */

.hidemenu {
  display: none;
}
.header {
  width: 100vw;
  height: 4rem;
  display: flex;
  background: var(--headerbanner-color);
  position: sticky;
  top: 0px;
  z-index: 5;
  justify-content: space-between;
  color: #fff;
}
.head-name {
  margin: 1rem;
  font-weight: bold;
  font-size: 2rem;
}
.menu ul {
  display: flex;
  margin: auto 2rem;
  align-items: center;
  justify-content: space-between;
}
.menu ul li {
  margin: 1.5rem;
}
.menu ul li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
}
.menu a:hover {
  color: #fca738;
  transform: scale(1.1);
}

/* mobile view menu toggle button  */

.side-menu-btn {
  position: fixed;
  top: 0.75rem;
  right: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--white);
  display: none;
}

/* mobile view menu */

.side-menu {
  height: 100%;
  width: 20rem;
  position: fixed;
  z-index: 25;
  top: 4rem;
  right: 0;
  background-color: var(--headerbanner-color);
  overflow-x: hidden;
  transition: 0.5s linear;
  opacity: 0.6;
}
.side-menu .border-bottom {
  padding: 1.5rem 5rem;
  font-size: 18px;
  color: var(--white);
  font-weight: bold;
  padding-top: 25px;
  display: block;
  transition: 0.5s;
  border-bottom: 1px solid #ededed;
  border-radius: 5px;
}

/* * ------------- banner-------- */

.banner {
  width: 90%;
  background-color: #fff;
  margin: 2rem auto;
  border-bottom-right-radius: 8rem;
  border-top-left-radius: 8rem;
}

.inner-banner {
  display: flex;
  flex-wrap: wrap;
}
.inner-banner .box {
  flex: 1 1 50%;
}
.banner-text {
  padding: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.banner-text p {
  margin: 0.5rem;
}
.banner-name {
  font-size: 2.5rem;
  color: #FF9E9E;
}
.banner-name span{
  font-size: 2rem;
  color: #B2B2B2;
}
.banner-developer {
  font-size: 2rem;
}
.banner-description {
  font-size: 1rem;
}
.button {
  margin: 1rem auto;
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.button button {
  width: 8rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.hireme-btn a,
.getresume-btn a {
  color: white;
  font-weight: 500;
  font-size: 1rem;
}
.hireme-btn {
  background-color: #a555ec;
  box-shadow: 0px 1px 1rem #fff;
  transition: all 0.3s ease-out;
}
.getresume-btn {
  border: 1px solid var(--primary-button);
  background-color: #fff;
  transition: all 0.3s ease-out;
}
.getresume-btn a {
  color: var(--primary-button);
}
.hireme-btn:hover,
.getresume-btn:hover {
  transform: scale(1.1);
}

/* ****************  About me  ****************************/
.about-box {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: 1.25rem;
  box-shadow: 0.1rem 0.1rem 3.6rem #10565221;
  color: var(--black);
}
.about-box .box {
  flex: 1 1 25rem;
}
.about {
  margin: auto;
}
.about button {
  width: 80%;
  background-color: var(--headerbanner-color);
  height: 2rem;
}
.about button a{
  color: #fff;
}
.about-text {
  font-size: 1rem;
  color: var(--black);
  line-height: 1.5;
  margin: auto 0.5rem;
}

.about-me,
.portfolio-heading,
.resume-heading,
.contact-heading {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1.25rem 0rem;
  text-transform: capitalize;
}

.skills-box {
  background-color: white;
  box-shadow: 0rem 0rem 2rem #00000029;
  border-radius: 1.2rem;
  padding: 0.8rem;
  margin: 1.5rem;
}

.skills-heading {
  color: #105652;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.logo-list {
  list-style: none;
}

.logo-list li {
  display: inline-block;
  margin: 0.7rem;
}

.logo-list li img {
  width: 100%;
  height: 3.5rem;
}

/* * -------- My Portfolio ----------- */

.portfolio-box,
.resume-box,
.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  border-radius: 1rem;
}

.portfolio-heading {
  margin: 1.2rem auto;
  color: gray;
}
.portfolio-heading span {
  font-weight: bold;
  color: var(--navbar-color);
}
.portfolio-list {
  width: 80%;
}
.portfolio-list > div {
  margin-top: 2rem;
  border-bottom: 1px solid gray;
}
.project-information h2 {
  margin-bottom: 1rem;
}
.porject-btn button {
  padding: 0.5rem 1rem;
  margin: 1rem;
}
.porject-btn button a {
  color: #fff;
}
.live-btn {
  background-color: var(--headerbanner-color);
}
.view-btn {
  background-color: transparent;
  border: 1px solid blueviolet;
}
.porject-btn .view-btn {
  color: blueviolet;
}
.portfolio-list div img {
  width: 20rem;
  cursor: pointer;
  border-radius: 5px;
  object-fit: contain;
}

.porject-btn button:hover {
  transform: scale(0.98);
  box-shadow: 1px 1px 1rem 1px blueviolet;
  cursor: pointer;
}
/**--------- Resume ------------------- */

.resume-innerbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
}
.resume-innerbox .box {
  flex: 1 1 25rem;
}
.resume-innerbox .box .education-box {
  height: 10rem;
  margin: 1rem;
  position: relative;
  border-left: 0.2rem solid var(--navbar-color);
  background-color: var(--white);
}
.resume-left {
  margin: auto;
}
.education {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}
.college-name {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 2rem;
}
.degree {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 2rem;
}
.resume-left span {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--primary-button);
  border-radius: 0.9rem;
  padding: 0.3rem 0.6rem;
  display: block;
  width: 6rem;
  margin-left: 1rem;
}

.circle {
  position: absolute;
  font-size: 4rem;
  color: var(--navbar-color);
}

.c-1,
.c-2,
.c-3 {
  top: -2.6rem;
  left: -0.9rem;
}
.resume-right {
  background-color: white;
  border-radius: 20px;
  margin: 1rem;
}
/* * ----------- Contact Me  -------------- */

.contact-heading {
  margin: 1rem auto;
}
.contact-innerbox {
  width: 85%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
  color: #333333;
}
.contact-innerbox .box {
  flex: 1 1 25rem;
}
.contact-right {
  width: 50%;
  padding: 2.5rem;
  background-color: var(--white);
  margin: 1rem;
}

.lets-connect,
.send-msg {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.25rem;
}
.contact-right form input {
  width: 100%;
  height: 2.5rem;
  margin: 0.1rem 0rem 1rem;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}

.contact-right form textarea {
  width: 100%;
  margin: 1rem 0rem;
  border: 1px solid #e0e0e0;
}

.submit-btn {
  background-color: var(--primary-button);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--headerbanner-color);
  box-shadow: 1px 1px 5px 2px #558bff;
}

/**- ----------- ------ Footer  -------------------*/

.footer {
  width: 100%;
  height: 5rem;
  color: var(--white);
  background-color: var(--headerbanner-color);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.footer .follow span {
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}
/* ** ----------my Responsivenese ---------------*/
@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .html {
    font-size: 10px;
  }
  .menu {
    display: none;
  }

  .side-menu-btn {
    display: block;
  }
}

@media screen and (max-width: 595px) {
  .html {
    font-size: 8px;
  }
}

/* 
1200 px
1024px
768
568
*/
